* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(https://media.istockphoto.com/id/1420958824/photo/user-sign-iconic-background-sunray-realistic-look-symbol-for-social.webp?a=1&b=1&s=612x612&w=0&k=20&c=-_O6o4g2UAQqt5WZqEb4vxM2KiZPmTDkIuuBb2HGO1M=);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.contactlist {
    width: 400px;
    background: linear-gradient(45deg, rgb(8, 201, 194), rgb(10, 44, 233));
    padding: 20px;
    border-radius: 10px;
}

.inp .inpVal {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
}

.lists {
    list-style-type: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.lists li {
    border: 1px solid gray;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 20px;
    background-color: mediumaquamarine;
    color: white;
    font-weight: 500;
}

/* Hidden class to hide the list */
.hidden {
    display: none;
}